### BACKUP CONFIGURATION ###

# KEEP THE PASSWORD SAFE. It is HIGHLY recommended to chmod 400 this file so 
# that other users can not read it

# To decrypt backups made by this script, run the following command:
# openssl enc -aes256 -in [encrypted backup] -out decrypted_backup.tgz -pass pass:[backup password] -d -md sha1

## Edit the entries below to match your needs ##

# The password used to encrypt the backup
# NOTE: MAKE SURE THAT YOU CHMOD THIS FILE TO 400 TO AVOID UNAUTHORISED ACCESS
BACKUPPASS=""

# Directory to store backups
LOCALDIR=""

# Temporary directory used during backup creation
TEMPDIR=""

# File to log the outcome of backups
LOGFILE=""

# Number of days to store daily local backups
LOCALAGEDAILIES="7"

# Number of days to store daily remote backups
REMOTEAGEDAILIES="7"

# Number of days to store weekly local backups
LOCALAGEWEEKLIES="28"

# Number of days to store weekly remote backups
REMOTEAGEWEEKLIES="28"

# Number of days to store monthly local backups
LOCALAGEMONTHLIES="183"

# Number of days to store monthly remote backups
REMOTEAGEMONTHLIES="183"

# IP / hostname of the server to store remote backups
REMOTESERVER=""

# SSH port of remote server
REMOTEPORT=""

# User to use with SSH (public key needs to be installed on the remote server)
REMOTEUSER=""

# Path to store the remote backups
REMOTEDIR=""

# Limit bandwidth used by SCP, in Kbit/s. Set to 0 for unlimited.
SCPLIMIT="0"

# Name of containers to exclude from tar backup
# To add an entry, add a new line with the same format
EXCLUDE+=("")
EXCLUDE+=("")
EXCLUDE+=("")
EXCLUDE+=("")

# OPTIONAL: Enter your e-mail address to receive a report after finished backup
# NOTE: Requires configured "ssmtp". See https://wiki.debian.org/sSMTP
MAILRCPT=""
